<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>
    <link rel="shortcut icon" type="image/jpg" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "cs/chat.css" %}"/>
    
  </head>
  <body>
    <a href="{% url 'log-out' %}">Log Out</a>
    <p hidden id="join-code">{{g_id}}</p>
    {% if request.user == admin %}
      <form action="{% url 'del-grp' %}" method="post">
        {% csrf_token %}
        <input name="grp-id" type="text" hidden value="{{g_id}}">
        <input type="submit" value="Delete Room">
      </form>
    {% endif %}
<button onclick="copyToClipboard('#join-code')">Click to Copy Join-Code</button>
    <div class="intro">
    <h1>{{g_name}}</h1>
    <h1>{{request.user}}</h1>
</div> 
     <div id="chat-log" contenteditable>
    
        {% for chat in chats %}
        <div class="msg">
            <div class="msg-head">
                <b>{{chat.sender}}</b>
            <small>{{chat.timestamp|time:'H:i'}}</small>
            </div>
            {{chat.content}}
            </div>
        {% endfor %}
        
    </div> 
    <form class="sendbar">
    <input type="text" id="chat-msg-input" />
    <input type="submit" value="Send" id="chat-msg-submit" />
    </form>

    {{g_name|json_script:'group-name'}}
    {{g_id|json_script:'group-id'}}

    <script>
      const groupName = JSON.parse(
        document.getElementById("group-id").textContent
      );
      var ws = new WebSocket("ws://127.0.0.1:8000/ws/jwc/" + groupName + "/");
      // var ws = new WebSocket('ws://127.0.0.1:8000/ws/ajwc/'+ groupName + '/')

      ws.onopen = function () {
        console.log("WebSocket connection open...", event);
        var myDiv = document.getElementById("chat-log");
        myDiv.scrollTop = myDiv.scrollHeight;
        // ws.send('hii from client')
      };
      ws.onmessage = function () {
        console.log("new msg from server...", event.data);
        console.log("new msg from server...", event);
        const data = JSON.parse(event.data);
        // document.querySelector("#chat-log").value += (data.message + "\n");
        document.querySelector("#chat-log").innerHTML += "<div class='msg'> <div class='msg-head'><b>" + data.message.user + "</b> <small>"+data.message.dt+"</small> </div>"+ data.message.msg + "</div>";
        var myDiv = document.getElementById("chat-log");
        myDiv.scrollTop = myDiv.scrollHeight;
      };
      ws.onclose = function () {
        console.log("disconnected...", event);
      };

      document.getElementById("chat-msg-submit").onclick = function (event) {
        const messageInputDom = document.getElementById("chat-msg-input");
        const message = messageInputDom.value;
        ws.send(
          JSON.stringify({
            msg: message,
          })
        );
        messageInputDom.value = "";
      };

      function Hello() {
      var copyText = document.getElementById('join-code')
      copyText.select();
      document.execCommand('copy')
}

function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </body>
</html> 

